body {
  font: 10px sans-serif;
}

.username {
}

.user img {
  float: right;
}

.user .avatar_url {
  height: 120px;
  width: 120px;
}

.chart {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.chart .link {
  stroke: #ccc;
}

.node text {
  /* pointer-events: none; */
  cursor: pointer;  
}

.limit {
  font-size: 15px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.5;
  z-index: -2;
}

.over {
  background: black;
  color: coral;
}

.instructions {
  text-align: center;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  z-index: 1;
}

.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.message {
  background: lightblue;
}
