<div ng-controller="UserCtrl" class="user">
  <a ng-href="{{user.html_url}}" target="_blank">
    <img ng-src="{{user.avatar_url}}" class="avatar_url">
  </a>
</div>

<div ng-controller="UsernameCtrl" class="username">
  <form ng-submit="submit()">
    <input ng-model="username" type="text" placeholder="GitHub username"
    select-on-click>
    <input type="submit" ng-disabled="!username.length" ng-hide="true">
  </form>
</div>

<ul>
  <li ng-repeat="follower in following">{{follower.login}}</li>
</ul>

<night-sky data="following"></night-sky>
