<div class="user">
  <a ng-href="{{user.html_url}}" target="_blank">
    <img ng-src="{{user.avatar_url}}" class="avatar_url">
  </a>
</div>

<div ng-controller="UsernameCtrl" class="username">
  <form ng-submit="submit()">
    <input ng-model="username" type="text" placeholder="GitHub username"
    select-on-click>
    <input type="submit" ng-disabled="!username.length" ng-hide="true">
  </form>
</div>

<night-sky data="constellation"></night-sky>

<div class="instructions" ng-hide="constellation">
  <div class="message rounded-corners">
    <h1>Welcome to Constellations</h1>
    <p>
    Enter your GitHub username (or anyone else's, for that matter) in to the box
    above, and see what repos they should check out based on the people they
    follow.
    </p>
    <p>
    Keep in mind there is a limit on the number of API queries you can make to
    GitHub (the status will be updated at the bottom of the screen).
    </p>
    <p>
    If you'd like to see the source, check out the repo on (ofcourse) <a
    href="https://github.com/rowanu/constellations">GitHub</a>.
  </div>
</div>

<div class="limit" ng-hide="!limit" ng-class="{over: over}">
  Your have {{limit.rate.remaining}} of {{limit.rate.limit}} GitHub API queries
  left (resets at {{limit.rate.reset * 1000 | date:'medium'}})
</div>
